@import '../components/color.scss' ;
@import '../components/fonts.scss' ;
@import '../components/utils.scss' ;


.sect_about {
    text-align: center ;
    .about_contTitle {
        .about_span {
            @include fontSpan ;
        }

        .about_title {
            @include fontTitle ;
        }
    }
    .about_contPrin {
        .about_contSecond1 {
            .about_image {
                width: 200px ;
                height: 200px ;
                border-radius: 17px ;
            }
        }
        .about_contSecond2 {
            margin-top: 25px ;
            .about_contCard {
                display: grid ;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px ;
                margin-bottom: 10px ;

                .about_card {
                    @include cards ;
                    padding: 13px ;

                    .about_card_img {
                        width: 50px ;
                        height: 50px ;
                        margin-bottom: 7px ;
                    }

                    .about_card_title {
                        @include fontSpan ;
                        margin-bottom: 3px ;
                        font-weight: 600 ;
                    }

                    .about_card_text {
                        @include fontText ;
                        font-size: 15px ;
                    }
                }
            }
        }
            .about_text {
                @include fontText ;
            }
    }
}