@import '../components/fonts.scss' ;
@import '../components/color.scss' ;
@import '../components/utils.scss' ;

.section_contact {
    margin-top: 80px ;

    .cont_containerPrincipal {
        text-align: center ;

        .cont_span {
            @include fontSpan ;
        }

        .cont_title {
            @include fontTitle ;
        }

        .mail {
            @include buttons ;
            margin: auto ;
            width: 20% ;
            padding: 20px 5% ;
            margin-top: 50px ;
        }
    }
}