@import '../components/base.scss' ;
@import '../components/fonts.scss' ;
@import '../components/mediaQueris.scss' ;

.header {

    .header_container {
        width: 100% ;
        height: 120px ;

        .header_title {
            font-family: $famiAnony ;
            font-size: 30px ;
            font-weight: 400 ;
            color: black ;
            display: flex ;
            justify-content: center ;
            padding-top: 5% ;
        }
    }
}

.footer {
    margin-top: 80px ;

    .foot_containerPrincipal {
        text-align: center ;

        .foot_text {
            @include fontText ;
        }
    }
}