@import '../components/base.scss' ;
@import '../components/fonts.scss' ;

.header {
    background-color: antiquewhite ;

    .header_container {
        width: 100% ;
        height: 120px ;

        .header_title {
            font-family: $famiAnony ;
            font-size: 30px ;
            font-weight: 400 ;
            color: black ;
            display: flex ;
            justify-content: center ;
            padding-top: 5% ;
        }
    }
}