@import '../components/fonts.scss' ;
@import '../components/color.scss' ;
@import '../components/utils.scss' ;


.sect_portada {
    margin-left: 5% ;
    margin-right: 5% ;

    .port_contPrin {
        text-align: center ;

        .port_contSecond {
            height: 240px ;

            .port_image {
                width: 200px ;
                height: 200px ;
                border-radius: 50% ;
                display: block ;
                margin: auto ;

            }
        }
        .port_contSecond {
            text-align: center ;

            .port_span {
                @include fontSpan ;
            }

            .port_title {
                @include fontTitle ;
            }

            .port_subtitle {
                font-family: $famiMont ;
                font-size: 25px ;
                font-weight: 400 ;
                color: $color_blackLig ;
            }
            .port_contBtn {
                display: grid ;
                grid-template-columns: repeat(2, 1fr) ;
                gap: 20px ;
                padding: 0px 30px ;
                margin-top: 20px ;
                .port_button {
                    @include buttons ;
                }
            }
        }
    }
}