@import '../components/fonts.scss' ;
@import '../components/color.scss' ;
@import '../components/utils.scss' ;

.sect_services {
    margin-top: 80px ;
    .serv_contTitle {
        text-align: center ;
        .serv_span {
            @include fontSpan ;
        }

        .serv_title {
            @include fontTitle ;
        }
    }
    .serv_contPrin {
        .serv_card {
            @include cards ;
            margin-top: 20px ;

            .serv_cardTitle {
                @include fontTitleCard ;
                text-align: center ;
            }
            .serv_contGrilla {
                text-align: -moz-center ;

                .esp_cont {
                    display: grid ;
                    grid-template-columns: repeat(2, 1fr) ;
                    width: 120px ;
                    margin-top: 10px ;

                    .esp_img {
                        width: 32px ;
                        height: 32px ;
                    }

                    .esp_text {
                        @include fontText ;
                        font-size: 22px ;
                    }
                }
            }
        }
    }
}