// Fonts
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './color.scss' ;

// Variables Font
$famiTini: "Tiny5", sans-serif ;
$famiRobo: "Roboto", sans-serif ;
$famiAnony: "Anonymous Pro", monospace ;
$famiMont: "Montserrat", sans-serif ;

// Mixins
@mixin fontTitle {
    font-family: $famiMont ;
    font-size: 30px ;
    font-weight: 400 ;
    color: black ;
}

@mixin fontSpan {
    font-family: $famiMont ;
    font-size: 17px ;
    font-weight: 400 ;
    color: $color_blackLig ;
}

@mixin fontText {
    font-family: $famiRobo ;
    font-size: 18px ;
    font-weight: 400 ;
    color: $color_blackLig ;
}

@mixin fontTitleCard {
    font-family: $famiRobo ;
    font-size: 25px ;
    font-weight: 400 ;
    color: black ;
}