@mixin buttons {
    border: solid 2px black ;
    border-radius: 30px ;
    padding: 10px 5% ;
    font-family: $famiRobo ;
    font-size: 16px ;
    font-weight: 400 ;
    color: black ;
    background-color: transparent ;
    &:hover {
        background-color: #dfdfdf ;
    }
}

@mixin cards {
    border: solid 2px black ;
    border-radius: 17px ;
}